{% extends "base.html.twig" %}


{% block body %}

    <div class="card">

        <div class="card-header">
            <h3 class="text-muted">Country Population By IP ( {{ ip }} )</h3>
        </div>

        <div class="card-body">

            {% if error %}

                <p class="text-danger"> {{ error }}</p>

            {% else %}

                <p>
                    You are in {{ result.name }}. It's capital city is {{ result.capital }} and
                    population is <span class="text-info"> {{ result.population }}</span> .
                </p>


            {% endif %}


        </div>

    </div>

{% endblock %}